# dependencies
node_modules
.pnp
.pnp.*

# next.js
.next/
out/

# turbo
.turbo

# production
build/
dist/

# misc
.DS_Store
*.pem
*.log

# env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# python
__pycache__/
*.pyc
.venv/

# test artifacts
test-results/
playwright-report/
blob-report/
